<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <title>Messages</title>
</head>
<body>
<p>&nbsp;</p>
<h4> <span class="alert alert-primary">Le compte est validé.</span>
    <span>&nbsp;</span> <a class="btn btn-primary" role="button" th:href="@{/admin/listecomptesnonvalide}">OK</a></h4>
</body>
</html>